{% extends 'base.html' %}
{% block content %}


<div class="row">
  <div class="col-sm-s12">
    <h1 class="center display-1">{{ dest.name }}</h1>

<div class="container parallax-trips-edit">

<div class="row">
  <div class="col s6">
    <div class="card my-trip-notes" id="trips-cards" style="height: 13rem;">
      <div class="card-content" style="font-size: 1.1rem;">
        <h3 id="card-title">Notes for "{{ dest.name }}"</h3>
        <p>Date: {{ dest.date }}</p>
        <p>Days: {{ dest.days }}</p>
        <p>Notes: {{ dest.notes }}</p>
         
      
       <div class="d-grid gap-2 d-md-flex justify-content-md-center">
         <button type="submit" class="btn me-md-2"><a href="{% url 'dest_update' dest.id %}" id="add-trip-notes">Add To Trip Notes</a>
          </div>

         <form action="{% url 'dest_delete' dest.id %}" method="POST"></button>
          {% csrf_token %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn me-md-2 btn-remove-trip" style="font-family:Bebas Neue; font-size: 18px">Remove Trip</button>
          </div>
         </form>
       </div>
      </div>
  </div>
  {% for act in post.photo_set.all %}
  <div class="col s6">
<!-- form for adding activities -->
    <div id="show" style="cursor:pointer; font-size:22px;"><span style="font-size: 1.5em;">&#10753;</span>New Activity</div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
     <div class="menu" style="display: none;">
      <div class="card">
  {% endfor %}
        <!-- <div class="card-content">
            <span class="card-title center">Activity</span>
           <table class="table table-striped">
      
         <hr>
           <tbody>
            {% for act in dest.activities_set.all %}
             <tr>
              <td>{{act.name}}</td>
              <td>{{act.date}}</td>
              <td>{{act.duration}}</td>
              <td>{{act.notes}}</td> -->

              <!-- <td><a href="{% url 'act_update' act.id %}" class="btn blue darken-4">Update</a></td>
              <td> <form action="{% url 'act_delete' act.id  %}" method="POST">{% csrf_token %} <button type="submit" class="btn blue darken-4" style="font-family: Bebas Neue">REMOVE</button></form></td>
             </tr>
            {% endfor %}
           </tbody>
          </table>
          <br> -->
          <div class="d-grid gap-2 d-md-flex justify-content-md-center rounded" id="new-act-form">
          <form action="{% url 'act_create' dest.id %}" method="POST" class="mx-auto">
          {% csrf_token %} {{ act_form.as_p }}
          <input type="submit" class="btn blue accent-2" value="Add Activity" style="font-family: Bebas Neue">
          </div>
          </form>
          </div>
         </div>
        </div>
      </div>
    </div>
</div>
<table class="table table-striped table-hover table-dark">
  <thead>
    <tr id="trip-detail-table">
      <td id="trip-detail-table">Activity</td>
      <td>Date</td>
      <td>Hours</td>
      <td>Field Notes</td>
    </tr>
  </thead>
  <tbody>
    {% for act in dest.activities_set.all %}
    <tr>
      <td>{{ act.name}}</td>
      <td>{{ act.date}}</td>
      <td>{{ act.duration}}</td>
      <br>
      <td>{{ act.notes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>


    <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
      });
  

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $('#show').click(function() {
      $('.menu').toggle("slide");
    });
    });
    </script>

    <script>

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });

    

    </script>
    {% endblock %}