{% extends 'base.html' %}
{% block content %}


<h1 class="display-1">Trips</h1>
<div class="container parallax">

<div class="row">
  {% for dest in dest %} 
  <div class="col-md center">
  <a href="{% url 'dest_detail' dest.id %}" class="trips-card-font zoom-on-hover" id="view-trip-form">
    <div class="card card-img-top" style="height: 13rem; width: 20rem;" id="trips-cards">
      <div class="card-content">
        <h4 id="card-title" class="d-flex justify-content-center">{{ dest.name }}</h4>
        <hr style="width: 80%;" class="mx-auto" id="trips-cards-line">
        <p><span>Date</span>:    {{ dest.date }}</p>
        <p><span>Days</span>:    {{ dest.days }}</p>
        <p><span>User</span>:   {{ dest.user.username }}</p>
        <p><span>Notes</span>:   {{ dest.notes }}</p>
        </div>
    </div>
  </a>
</div>
{% if forloop.counter|divisibleby:3 and not forloop.last %}
      </div><div class="row">
    {% endif %}
{% endfor %}
</div>


{% endblock %}