{% extends 'base.html' %}
{% block content %}

<style>

  body {
    background-image: url(https://www.amtrakvacations.com/sites/amtrak/files/styles/hero/public/media/images/grand-canyon_670151752-web.jpg?h=f790d5ec&itok=PmHMpYK5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh
  }

  .signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }

  .custom-form {
    text-align: center;
  }
  .form-group {
    text-align: left;
  }

  .card {
    background-color: #F4B4CC;
  }

  /* form p {
    margin-bottom: 0.5rem;
  }

  form .form-control {
    margin-bottom: 1rem;
  }
  .form-group {
    text-align: left;
  } */

  .btn-primary {
    background-color: #112DED;
    border-color: #FFC0CB;
  }

  .btn-primary:hover {
    color: #112DED;
    background-color: white;
  }
</style>

<div class="signup-container">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h1 class="center">Road Trip?!</h1>

            <p class="red-text">{{ error_message }}</p>

            <form method="POST" action="{% url 'signup' %}" class="custom-form">
              {% csrf_token %}
              <div class="form-group">
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
              </div>
              <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Sign Up">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}