{% extends 'base.html' %}
{% block content %}


<h1 class="center">{{ post.name }} - {{post.user.username}} &#8862;</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
        <div class="card-content">
          <p>{{ post.date }}</p>
          <p>Description: {{ post.description }}</p> 
        </div>
        <div class="card-action">
          <button type="submit" class="btn blue darken-4 center"><a href="{% url 'post_update' post.id %}">Edit Post</a>
          <form action="{% url 'post_delete' post.id %}" method="POST"></button>
            {% csrf_token %}
            <button type="submit" class="btn blue darken-4 center" style="font-family:Bebas Neue; font-size: 12px">Delete Post</button>
          </form>
        </div>
     </div>

     <!-- \/\/\/  Below is the function for the photos  \/\/\/ -->

         {% for photo in post.photo_set.all %}
    <img src="{{photo.url}}" alt="" class="responsive-img card-panel">
    {% empty %}
    {% endfor %}

    <form 
    action="{% url 'add_photo' post.id %}" 
    enctype="multipart/form-data" 
    method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file"><br>
    <h6>Comment:</h6>
    <textarea name="comment" id="comment" rows="4" cols="20"></textarea><br>
    <button type="submit" class="btn">Upload Photo</button>
    </form>



  {% endblock %}