{% extends 'base.html' %} {% block content %}

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  .card {
    flex: 1;
    margin: 10px;
    height: 100%;
  }

  .carousel-item .card {
    height: 100%;
  }

  .carousel-custom {
    height: 500px;
    overflow: hidden;
  }

  .search-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .custom-search-input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .search-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
  }

  #featured-activities .carousel-indicators {
    bottom: -40px;
  }
</style>
<div id="carouselExample" class="carousel slide carousel-custom">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
        class="d-block w-100"
        alt="New York" />
      <div class="overlay">
        <p class="comment">New York City</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1623001468263-a77523ee14ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="d-block w-100"
        alt="Ukraine" />
      <div class="overlay">
        <p class="comment">Ukraine</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1498856878645-934f9b6597dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        class="d-block w-100"
        alt="Top of the Rock" />
      <div class="overlay">
        <p class="comment">Top of the Rock</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1416255856099-5f33ae760b09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80"
        class="d-block w-100"
        alt="Ukraine" />
      <div class="overlay">
        <p class="comment">Ukraine</p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
        class="d-block w-100"
        alt="South Dakota" />
      <div class="overlay">
        <p class="comment">South Dakota</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="search-overlay">
    <form class="d-flex">
      <input
        class="form-control custom-search-input"
        type="search"
        placeholder="Where to? "
        aria-label="Search" />
      <button class="search-btn" type="submit">Wander</button>
    </form>
  </div>
</div>
<div class="container my-5">
  <h2>Trip Activities:</h2>
  <div class="row d-flex align-items-stretch">
    <div class="col-md-12">
      <div id="featured-activities" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1556656416-74183d01093d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
                    alt="Golden Temple" />
                  <div class="card-body">
                    <h5 class="card-title">The Golden Temple</h5>
                    <p class="card-text">
                      Walk the pilgrimage with thousands of others.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1508804052814-cd3ba865a116?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                    alt="The Great Wall of China" />
                  <div class="card-body">
                    <h5 class="card-title">The Great Wall Of China</h5>
                    <p class="card-text">Trek the Great Wall</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1463695970743-ae65cca05743?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                    alt="Maid of the Mist" />
                  <div class="card-body">
                    <h5 class="card-title">Niagara Falls</h5>
                    <p class="card-text">
                      The Maid of the Mist is a must at Niagara Falls!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row d-flex align-items-stretch">
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1512734099960-65a682cbfe2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                    alt="Big Ben" />
                  <div class="card-body">
                    <h5 class="card-title">Heart of London</h5>
                    <p class="card-text">
                      See Big Ben & The House of Parliament
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1474044159687-1ee9f3a51722?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                    alt="Horseshoe Bend" />
                  <div class="card-body">
                    <h5 class="card-title">Horseshoe Bend</h5>
                    <p class="card-text">Visit Arizona's secret getaway</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img
                    class="card-img-top h-100"
                    src="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80"
                    alt="Venice" />
                  <div class="card-body">
                    <h5 class="card-title">Venice, Italy</h5>
                    <p class="card-text">Traverse the canals in Venice!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#featured-activities"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#featured-activities"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
