{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        {% for act in act %}
        <a href=" {% url 'post_detail' act.post.id %} ">
            <div class="card">
                <div class="card-content">
                    <img src="{{act.url}}" alt="" class="responsive-img card-panel"><br>
                    <p>{{ act.title }}</p>
                    <p>{{ act.comment }}</p> 
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}