@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Megrim&display=swap');

* {
  font-family: "Bebas Neue";
}



#logo {
  color:#0023FF;
  border:#d3d5e2;
 font-family: "Megrim";
 font-size: 40px;
 text-decoration: underline;
 /* font-style: italic; */
 font-weight:900
}
.navbar .nav-link {
  color: #0023FF;
}

.custom-search-btn {
  background-color: red;
  color: #61C0BF;
}

/* .nav-item {
  font-size: 1.5em;
  color:rgb(255, 149, 20);
  margin-top: -2em;
} */

a {
  color: red;
}

body {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: burlywood;
    font-family: "Bebas Neue";
  }

  h1 {
    text-align: center;
    font-family: "Bebas Neue";
    font-size:larger;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .card {
    height: 400px; /* set a fixed height for the cards */
  }
  
  .card-img-top {
    height: 200px; /* set a fixed height for the image */
    object-fit: cover; /* use object-fit to adjust how the image fits within the container */
  }
  .carousel-control-prev, .carousel-control-next {
    background-color: #a32525;
    opacity: 0.5;
  }
  
  .carousel-control-prev:hover, .carousel-control-next:hover {
    opacity: 1;
  }

  .carousel-indicators li {
    background-color: #333; /* dark gray */
    color: #fff; /* white */
    z-index: 1;
  }
  
  .carousel {
    position: relative;
    z-index: 0;
  }
  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

 
 /* .container {
    background: radial-gradient(50% 25% at center, rgb(240, 203, 190), rgb(244, 175, 150), rgb(246, 158, 126));
 } */

 button {
  font-family: "Bebas Neue";
  background-color: #0023FF;
  color: red;
 }

 script {
  color:#030307
 }


 .units > * {
  background-image: url('image.jpeg');
  background-clip: text;
  color: transparent;
  /* etc. */
 }

 .units > :last-child {
  transform: rotatex(180deg) translatey(15px); 
  filter: blur(4px) brightness(1.5);
 }

 div.rotate {
  transform: rotate(90deg);
 }

 .trips-arrow {
  transform: rotateZ('-90deg')
 }
